@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: rgb(241, 241, 241);;
}

/* --- HEADER SECTION --- */

/* header {
    max-width: 100vw;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(124, 124, 124, 0.568);
} */

header {
    max-width: 100vw;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    right: 0;
    background: #323150;
    border-bottom: 1px solid rgba(124, 124, 124, 0.568);
}

nav {
    max-width: 100%;
    height: 80px;
    position: relative;
}

nav ul, .menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* MENU MOBILE */

.menu-mobile {
    align-items: center;
    justify-content: flex-start;
    display: none;
}

.burger-menu {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    filter: invert(91%) sepia(52%) saturate(5490%) hue-rotate(1deg) brightness(106%) contrast(105%);
}

.menu-mobile p {
    margin: 0 0 0 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    display: inline-block;
    vertical-align: middle;
}

.menu {
    height: calc(100vh - 80px);
    width: 100vw;
    background: #414068;
    position: absolute;
    display: none;
    margin: 0 0 0 0;
    padding: 0 0 0 20px;
}

.menu ul {
    padding: 0;
    margin: 0 30px;
}

.menu li {
    margin: 30px 0 30px 0;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    list-style: none;
}

/* MENU MOBILE */

nav ul li, .menu-mobile li{
    margin: 0 30px;
    color: #fafafa;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

nav ul li a, .menu li a {
    text-decoration: none;
    color: #fafafa;
}

nav ul li a:hover {
    transition: all 500ms;
    color: rgb(249, 253, 0)
}

nav ul li:hover {
    transition: all 500ms;
    transform: scale(1.2);
}

/* --- MAIN SECTION --- */

main {
    max-width: 100vw;
    min-height: 100vh;
    background: #323150;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

main section {
    max-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main section .avatar {
    max-width: 200px;
    height: auto;
    object-fit: contain;
}

main section h1 {
    margin: 15px 0px 5px 0px;
    font-size: 32px;
    color: rgb(249, 253, 0)
}

main section p {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.651);
    font-weight: 300;
    font-size: 16px;
}

.social-network {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-network a {
    margin: 0 10px;
    text-decoration: none;
}
.social-network a:hover {
    transition: all 300ms;
    transform: scale(1.2);
}

.social-network p {
    margin: 0;
    padding: 0;
    color: rgba(182, 182, 182, 0.726);
    font-weight: 300;
}

.social-network p:hover {
    transition: all 300ms;
    color: rgb(249, 253, 0)
}

.social-network img {
    width: 30px;
    height: auto;
    margin: 0 5px;
}

.scroll {
    width: 50px;
    height: auto;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.scroll img {
    width: 50px;
    height: auto;
}

.scroll:hover {
    transition: all 300ms;
    transform: scale(1.2);
}

/* --- QUIEN SOY SECTION --- */

.section-name {
    margin: 20px auto;
    text-transform: uppercase;
}

.quien-soy {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 25px 80px;
    background: rgb(241, 241, 241);
    font-family: 'Roboto', sans-serif;
    color: #323150;
    position: relative;
}

.quien-soy-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.quien-soy-info img {
    width: auto;
    height: 140px;
    padding-right: 50px;
}

.card {
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
}

.card-left {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 0;
}

.card-left img {
    width: 50%;
    height: 250px;
    border-radius: 50%;
    padding: 0;
}

.card-left p {
    width: 80%;
    line-height: 25px;
}

.card-right {
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 0 10px;
}

.card-right a {
    text-align: center;
    width: 20%;
    text-decoration: none;
    background: #e63131;
    color: #fafafa;
    padding: 10px 40px;
    border-radius: 20px;
    display: inline-block;
    outline: none;
    border: none;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    margin: auto 0;
}

.quien-soy .scroll {
    position: relative;
    margin: auto auto 20px auto;
}

/* --- HABILIDADES SECTION --- */

.habilidades {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 25px 80px;
    background: rgb(241, 241, 241);
    font-family: 'Roboto', sans-serif;
    color: #323150;
    position: relative;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
}

.skills article {
    width: 25%;
    height: auto;
    color: #fafafa;
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    background: #323150;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.skills article img {
    width: auto;
    height: 80px;
    margin-bottom: 25px;
}

.skills article strong {
    margin-bottom: 25px;
}

.skills article p {
    margin: 0px 0px 25px 0px;
}

.skills article:nth-child(2) {
    background:rgb(249, 253, 0);
    color: black;
    
}

.skills article:nth-child(3) {
    background: #e63131;
}

.skills article:hover {
    transition: all 300ms;
    transform: scale(1.1);
}

.habilidades .scroll {
    position: relative;
    bottom: 0;
    margin: auto auto 20px auto;
}

/* --- PROYECTOS SECTION --- */

.proyectos {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 25px 80px;
    background: rgb(241, 241, 241);
    font-family: 'Roboto', sans-serif;
    color: #323150;
    position: relative;
}

.proyectos .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.proyectos article {
    width: 25%;
    height: 180px;
    padding: 5px 5px;
    background-color: white;
    margin: 10px 0px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.proyectos article:hover {
    transition: all 500ms;
    transform: scale(1.1);
    cursor: pointer;
}

.proyectos article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.proyectos article a {
    
}

.proyectos .more-proyects {
    text-decoration: none;
    padding: 5px 10px;
    background: red;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.proyectos .scroll {
    position: relative;
    bottom: 0;
    margin: auto auto 0px auto;
}

/* --- CONTACTO SECTION --- */

.contacto {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 25px 80px 0px 80px;
    background: rgb(241, 241, 241);
    font-family: 'Roboto', sans-serif;
    color: #323150;
    position: relative;
}

.contact-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contact-info h3 {
    width: auto;
    height: auto;
    margin: 0 30px 0 0;
}

.contact-info p {
    width: 100%;
    font-size: 14px;
}

.contacto form {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 50%;
}

.contacto input[type=text], .contacto input[type=email] {
    width: 45%;
    height: 25px;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 10px 15px;
    margin: 0 auto 0 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contacto input[type=email] {
    margin: 0 0 0 auto;
}

.contacto input[type=text]:nth-child(3) {
    width: 100%;
    margin: 20px 0;
}

.contacto textarea {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contacto button {
    text-decoration: none;
    background: #e63131;
    color: #fafafa;
    padding: 10px 40px;
    border-radius: 20px;
    display: inline-block;
    outline: none;
    border: none;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.contacto button:hover {
    transition: all 300ms;
    transform: scale(1.1);
}

.contacto .scroll {
    position: relative;
    bottom: 0;
    margin: auto auto 20px auto;
    transform: rotateX(180deg);
}

.contacto .scroll:hover {
    transition: all 300ms;
    transform: rotateX(180deg) scale(1.2);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #323150;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #bbbbbb;
}

/* --- MEDIA QUERY --- */

@media (max-width: 810px) {
    header, nav, ul {
        width: 100vw;
    }

    nav ul li {
        margin: 0 15px;
    }

    main {
        width: 100vw;
        height: 100vh;
    }

    .habilidades, .skills, .proyectos, .contacto, .quien-soy {
        width: 100vw;
        height: auto;
        margin: 0 auto 20px auto;
        min-height: 100vh;
    }

    .quien-soy {
        width: 80vw;
        margin: 0 auto;
    }

    .card {
        padding: 0;
        flex-direction: column;
    }

    .card-left, .card-right {
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        padding: 25px 0;
    }

    .card-left img {
        width: auto;
    }

    .card-left p {
        width: 75%;
    }

    .card-right {
        justify-content: center;
        align-items: center;
    }

    .skills {
        flex-direction: column;
    }

    .skills article {
        width: 60vw;
        margin: 20px auto;
    }

    .proyectos .container {
        justify-content: center;
        align-items: center;
    }

    .container article {
        width: 65vw;
    }

    .contacto {
        width: 80%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

    .contact-info {
        width: 100%;
    }

    .contact-info h3 {
        width: 100%;
        margin: 0 auto;
    }

    .message {
        margin: 0 auto;
        text-align: center;
    }

    #fs-frm {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
    }

    .contacto input[type=email], .contacto input[type=text] {
        margin: 10px 0;
        width: 90%;
    }

    .contacto input[type=text]:nth-child(3) {
        margin: 10px 0px;
        width: 90%;
    }

    .contacto textarea {
        margin: 10px 0px;
        width: 90%;
    }

    #fs-frm button {
        margin: 10px auto
    }
}

@media (min-width: 916px) {
    .contacto {
        height: auto;
    }

    .contacto input[type=email] {
        margin: 20px 0 0 0;
     }
}

@media (min-width: 1140px) {
    .contacto input[type=email] {
        margin: 0 0 0 auto;
    }
}

@media (max-width: 603px) {
    nav ul {
        display: none;
    }

    .menu-mobile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        vertical-align: middle;
    }
}